.top_header {
    background-color: $color_black;
    color: #fff;
    padding: 5px 0;
    z-index: 999;
    position: relative;
    .container {
        .social {
            display: flex;
            align-items: center;
            justify-content: end;
            .social_text {
                color: #fff;
                font-size: 12px;
            }
            img {
                height: 15px;
                margin: 5px;
            }
        }

    }
}
.header {
    display: flex;
    padding: 20px;
    z-index: 20;
    position: fixed;
    width: 100%;
    .logo {
        width: 150px;
    }
    .nav {
        display: flex;
        justify-content: center;
        width: calc(84%);
        .item_nav {
            padding: 0 15px;
            line-height: 30px;
            &:hover {
                font-weight: bold;
                color: $color_blue;
            }
        }
    }
}
.activo {
    background-color: #ffffff;
    margin-top: -40px;
    box-shadow: 0 10px 35px rgba(212,233,241,100);
    .logo {
        width: 120px;
    }
    .nav {
        justify-content: right;
        width: 100%;
    }

}