.hero {
    height: 100vh;
    .container-hero {
        display: flex;
        justify-content: space-between;
        .hero-left, .hero-center, .hero-right {
            width: 33%;
        }
        .hero-left {
            display: flex;
            justify-content: center;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 20vh;
                background-image: url('../img/path.svg');
                width: 100px;
                height: 100px;
            }
            &::after {
                content: '';
                position: absolute;
                right: 10vh;
                bottom: 10vh;
                background-color: $color_black;
                border-radius: 50%;
                width: 80px;
                height: 80px;
            }
            img {
                width: 70%;
                padding: 20px;
            }
        }
        .hero-center {
            font-weight: 700;
            text-align: center;
            margin-top: 30vh;
            .hero-title {
                font-weight: bold;
                margin-bottom: 50px;
                font-size: 2.5em ;
                color: blue;
                span {
                    position: relative;
                    width: 40%;
                    height: 50px;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 50px;
                        background-image: url('../img/subrayado.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        top: 50px;
                        left: 0;
                    }
                }
            }
            .btn {
                @include boton;
            }
        }
        .hero-right {
            margin-top: -100px;
            position: relative;
            display: flex;
            justify-content: center;
            img {
                width: 75%;
                padding: 20px;
                position: absolute;
                right: 0;
            }
            &::before{
                content: '';
                position: absolute;
                left: 80px;
                top: 20vh;
                background-color: $color_blue;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                z-index: 10;
            }
            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 20vh;
                background-image: url('../img/circles.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 100px;
                height: 100px;
            }
        }
    }
}